@use '../../styles/global';

.pagination-options{
  margin: 2rem 0;
  .multi-button{
    .pagination-option{
      height: 1.6rem;
      background-color: global.$primary;
      color: #fff;
      @extend %marvel-font;
      outline: none;
      border: none;
      width: 5rem;
      margin: 0 0.4rem;
      font-size: 1.1rem;
      &:hover{
        cursor: pointer;
        background-color: #c41117;
      }
    }
  }
}

.current-pagination-page{
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: global.$font-bold;
}